body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}

.dataTable td,.dataTable th{
border-top: 1px solid white;
border-right: 1px solid white;
border-bottom: 1px solid white;
padding: 5px;
}

.dataTable th{
  text-align: center;
}